body {
  width: 360px;
  margin: 0 auto;

  font-family: 'Inter 400', Raleway, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.content-section {
  min-width: 360px;
}

.content-section_theme_dark {
  color: #F5F5F5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #FEE42A;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 168px;
  min-height: 132px;
  padding: 24px 20px;

  color: #F5F5F5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  min-height: 198px;
  background-image: url('../images/cover.svg');
  background-size: 95% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__title {
  margin-left: 21px;
  color: #FFF;
  font-family: 'EB Garamond 400', Raleway, sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.intro {
  display: flex;
  min-height: 453px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 20px 0 20px;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin: 0 20px 37px 20px;

  color: #F5F5F5;
  line-height: 135%;
}

.intro__title, .intro__date {
  font: inherit;
  color: #CCC;
  line-height: 120%;
}

.intro__date {
  white-space: nowrap;
}

.reasons {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.reasons .content-section__subtitle {
  align-self: end;
  font-family: 'EB Garamond 500', Raleway, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.reasons .content-section__introduction {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%
}

.reasons .content-section__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.reasons .content-section__list-accent {
  font-family: 'Inter 700', Raleway, sans-serif;
  font-weight: 700;
  line-height: 135%;
}

.reasons .content-section__list-item {
  line-height: 135%;
}

.how-to {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.how-to .card_theme_dark {
  color: #F5F5F5;
  border-radius: 30px;
  background: #343434;
}

.how-to .card_theme_bright {
  color: #131313;
  border-radius: 30px;
  background: #FEE42A;
}

.how-to .content-section__subtitle {
  margin: 40px 20px 0 20px;
  align-self: end;
  color: #F5F5F5;
  font-family: 'EB Garamond 500', Raleway, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.how-to .content-section__introduction {
  margin: 0 20px;
  color: #F5F5F5;
  font-size: 20px;
  line-height: 135%;
}

.how-to .card__author-name {
  color: #F5F5F5;
  font-family: 'Inter 700';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}

.how-to .card__title {
  font-family: 'EB Garamond 500';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.how-to .card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.how-to .cards-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  font-size: 16px;
}

.how-to .card {
  display: flex;
  margin: 0 20px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.how-to .card__author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.how-to .card__author-photo {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid #FEE42A;
  color: #F5F5F5;
}

.footer__links {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.footer__links a {
  text-decoration: none;
}
